
<div class="flex flex-col items-center {% unless single_line %}{% endunless %} text-center {% if padded_mobile %}px-4 lg:px-0{% endif %} {% if padded %}px-4{% endif %}">
    <div class="mb-3.5 relative w-full">
        <a href="{{ product.url }}" class="flex items-center justify-center w-full h-full">
            <img class="" src="{{ product.featured_image | img_url: '700x700' }}" alt="{{ product.title }}">
        </a>
    </div>
    <a href="{{ product.url }}">
        <p class="min-h-[3.5rem] lg:min-h-[0px] mt-0 mb-1 text-base font-bold">{{ product.title }}</p>
    </a>

    <div class="flex items-center justify-center mb-2 {% unless product.metafields.my_fields.rating_override %}opacity-0{% endunless %}">
        {% assign stars = product.metafields.my_fields.rating_override | times: 1 %}
        {% for i in (1..5) %}
            {% assign half = i | minus: 0.5 %}
            {% if stars >= i %}
                <i class="text-pink mx-0.5 fas fa-star"></i>
            {% elsif stars >= half %}
                <i class="text-pink mx-0.5 fas fa-star-half-alt"></i>
            {% else %}
                <i class="text-pink mx-0.5 far fa-star"></i>
            {% endif %}
        {% endfor %}
        <span class="font-bold text-pink ml-2">{{ product.metafields.my_fields.rating_override }}</span>
    </div>

    {%- assign product_price = product.price | money -%}
    {%- assign product_compare_price = product.compare_at_price | money -%}

    <h4 class="text-pink mb-6 text-lg">
        {%- if product.compare_at_price < product.price -%}
            <span class="current-price price">
                {{- product_price -}}
            </span>

            <span class="compare-price price">
                {{- product_compare_price -}}
            </span>
        {%- else -%}
            <span class="current-price price">
                {{- product_price -}}
            </span>
        {%- endif -%}
    </h4>

    {% if show_button == true %}
        {% if product.available and product.metafields.custom.out_of_stock != true %}
            <form action="/cart/add" method="post" class="flex justify-center {% unless template.name == 'cart' %}js-add-to-cart{% endunless %}">
                <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
                <button class="btn">Add to Cart</button>
            </form>
        {% else %}
            <div class="flex justify-center">
                <button class="btn btn--disabled">Sold Out</button>
            </div>
        {% endif %}
    {% endif %}
</div>
