<div class="content-row pt-8 lg:pt-16 pb-12 lg:pb-[4.5rem] bg-{{ section.settings.background }}">
  <div class="container">
    <div class="content-row__header text-center pt-5 pb-5">
      <h2 class="text-pink text-xl uppercase mb-3">{{ section.settings.heading }}</h2>
      <div class="text-base">{{ section.settings.description }}</div>
    </div>

    <div class="content-row__grid columns-mobile-{{ section.settings.columns_mobile }} columns-desktop-{{ section.settings.columns_desktop }}">
      {% for block in section.blocks %}
        <div class="grid-item text-center">
          {% if block.settings.image != blank %}
          <a href="{{ block.settings.image | image_url }}" download>
          <img
            class="content-row__image"
            srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | image_url: width: 275 }} 275w,{%- endif -%}
              {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | image_url: width: 710 }} 710w,{%- endif -%}
              {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | image_url: width: 1420 }} 1420w,{%- endif -%}
              {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
            src="{{ block.settings.image | image_url: width: 550 }}"
            sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
              (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
              calc(100vw - 30px)"
            alt="{{ block.settings.image.alt }}"
            height="{{ block.settings.image.height }}"
            width="{{ block.settings.image.width }}"
            loading="lazy"
          >
          </a>
          {% endif %}

          {% if block.settings.video != blank %}
          <div class="content-row__video">
            <video controls{% if section.settings.autoplay_video %} autoplay{% endif %}>
              <source src="{{ block.settings.video }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          {% endif %}

          {% if block.settings.heading != blank %}
          <h3 class="mt-2 mb-1 text-lg mb-1 uppercase">{{ block.settings.heading }}</h3>
          {% endif %}

          {% if block.settings.description != blank %}
          <div class="text-base opacity-50">{{ block.settings.description }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {% if section.settings.button_label != blank %}
      <div class="content-row__button container flex flex-col items-center pt-5 pb-5">
        <a href="{{ section.settings.button_link }}" class="btn {% if section.settings.button_link == blank %}btn--disabled{% else %}btn--pink{% endif %}">
          {{ section.settings.button_label }}
        </a>
      </div>
    {% endif %}
  </div>
</div>

<style>
  .content-row.bg-black {
    color: white;
  }

  .content-row__header {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }

  .content-row__video {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .content-row__grid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .content-row__grid .grid-item {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .content-row__grid.columns-mobile-1 .grid-item {
    width: 100%;
  }

  .content-row__grid.columns-mobile-2 .grid-item {
    width: 50%;
  }

  .content-row__grid.columns-mobile-3 .grid-item {
    width: 33.33%;
  }

  @media screen and ( min-width: 750px ) {
    .content-row__grid.columns-desktop-2 .grid-item {
      width: 50%;
    }

    .content-row__grid.columns-desktop-3 .grid-item {
      width: 33.33%;
    }

    .content-row__grid.columns-desktop-4 .grid-item {
      width: 25%;
    }

    .content-row__grid.columns-desktop-5 .grid-item {
      width: 20%;
    }
  }


</style>

{% schema %}
  {
    "name": "Content Row",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Section Heading",
        "default": "Section Heading"
      },
      {
        "id": "description",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
      {
        "type": "header",
        "content": "Layout Settings"
      },
      {
        "type": "select",
        "id": "background",
        "label": "Background Colour",
        "options": [
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "palepink",
            "label": "Pale Pink"
          },
          {
            "value": "black",
            "label": "Black"
          }
        ],
        "default": "white"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3,
        "label": "Columns on desktop"
      },
      {
        "type": "range",
        "id": "columns_mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 1,
        "label": "Columns on mobile"
      },
      {
        "type": "header",
        "content": "File Download"
      },
      {
        "id": "button_label",
        "type": "text",
        "label": "Button label",
        "default": "Download Resource"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "File download URL"
      }
    ],
    "blocks": [
      {
        "name": "Block",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Item",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Enter description here</p>"
          },
          {
            "type": "header",
            "content": "Video"
          },
          {
            "type": "url",
            "id": "video",
            "label": "Add the video file URL here"
          },
          {
            "type": "checkbox",
            "id": "autoplay_video",
            "label": "Autoplay video",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Content Row",
        "category": "Custom",
        "blocks": [
          {
            "type": "block"
          },
          {
            "type": "block"
          },
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}
