<script src="https://unpkg.com/image-compare-viewer/dist/image-compare-viewer.min.js"></script>

{{ 'image-compare-viewer.min.css' | asset_url | stylesheet_tag }}
{{ 'section-before-after-slider.css' | asset_url | stylesheet_tag }}

<script src="{{ 'before-after.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="before-after-slider color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="container container-narrow">
    {%- if section.settings.custom_text_title != blank or section.settings.custom_text_body != blank -%}
    <div class="before-after-header center">
      {%- if section.settings.custom_text_title != blank -%}
        <h2 class="before-after-title h1 font-title text-xl text-center text-black uppercase"> {{ section.settings.custom_text_title }} </h2>
      {%- endif -%}
      {%- if section.settings.custom_text_body != blank -%}
      <div class="before-after-description rte text-center">{{ section.settings.custom_text_body }}</div>
      {%- endif -%}
    </div>
    {%- endif -%}

    <div class="before-after-swiper">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="swiper-slide-content">
              <div class="fullscreen">
                {% render 'icon-fullscreen' %}
              </div>
              <div class="image-compare">
                <img src="{{ block.settings.before_image | img_url: '600x600', crop: 'center' }}" alt="Before" />
                <img src="{{ block.settings.after_image | img_url: '600x600', crop: 'center' }}" alt="After" />
              </div>

              {%- comment -%} Slide navigation {%- endcomment -%}

              {%- if block.settings.heading != blank -%}
                <div class="swiper-slide-title uppercase font-title font-black">{{ block.settings.heading | escape }}</div>
              {%- endif -%}
              {%- if block.settings.author != blank -%}
                <div class="swiper-slide-author font-title">{{ block.settings.author | escape }}</div>
              {%- endif -%}
              {%- if block.settings.text != blank -%}
              <div class="swiper-slide-text">
                {{ block.settings.text }}
              </div>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>

    <div class="before-after-navigation">
      <div class="before-after-swiper-pagination"></div>
      <div class="swiper-controls">
        <div class="before-after-swiper-button-prev"></div>
        <div class="before-after-swiper-button-next"></div>
      </div>
    </div>

  </div>
</div>

<!-- The Modal -->
<div id="modal" class="before-after-modal">
  <span class="close">&times;</span>
  <div class="before-after-modal-content"></div>
</div>

<script>
  var slides = {{ section.settings.slides_per_page }};
  var slideGap = {{ section.settings.slide_gap }};
  var swiperSpeed = {{ section.settings.speed }};

  var swiper = new Swiper(".before-after-swiper", {
    observeParents: true,
    observer: true,
    simulateTouch: false,
    shortSwipes: false,
    followFinger: false,
    allowTouchMove: false,
    longSwipes: false,
    loop: true,
    grabCursor: true,
    pagination: {
      type: "fraction",
      el: ".before-after-swiper-pagination",
    },
    navigation: {
      prevEl: ".before-after-swiper-button-prev",
      nextEl: ".before-after-swiper-button-next",
    },
    slidesPerView: 1,
    breakpoints: {
      // when window width is >= 320px
      750: {
        slidesPerView: slides,
      },
      // when window width is >= 480px
      990: {
        slidesPerView: slides,
      }
    },
    watchSlidesProgress: true,
    autoplay: false,
    keyboard: { enabled: true },
    spaceBetween: slideGap,
  });
</script>

<script>
  let imageCompareViewers = document.querySelectorAll(".image-compare");

    let configs = {
      controlColor: "#FF0066",
      controlShadow: false,
      startingPoint: 50,
      showLabels: true,
      labelOptions: {
        before: "Before",
        after: "After",
        onHover: false, // default
      }
    }

    imageCompareViewers.forEach((element, i) => {
      new ImageCompare(element, configs).mount();
    });
</script>

{% schema %}
  {
    "name": "Before/After",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Section heading",
        "default": "Title"
      },
      {
        "id": "custom_text_body",
        "type": "richtext",
        "label": "Section description",
        "default": "<p>Add your text here</p>"
      },
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type": "range",
        "id": "slides_per_page",
        "min": 1,
        "max": 4,
        "step": 1,
        "label": "Slides per page",
        "default": 3
      },
      {
        "type": "range",
        "id": "slide_gap",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Space between slides",
        "default": 20
      },
      {
        "type": "range",
        "id": "speed",
        "min": 0,
        "max": 9000,
        "step": 500,
        "unit": "ms",
        "label": "Transition Speed",
        "default": 2500
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding bottom",
        "default": 52
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "author",
            "default": "Author",
            "label": "Author"
          },
          {
            "type": "image_picker",
            "id": "before_image",
            "label": "Before Image"
          },
          {
            "type": "image_picker",
            "id": "after_image",
            "label": "After Image"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Before/After",
      "category": "Text",
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        }
      ]
    }]
  }
{% endschema %}
