{% include 'vncpc' %}

<div class="lg:pt-28 lg:pb-28 md:container pt-12 pb-16" data-section-type="cart-template">
  <!--<div class="page-header">
    <h1 class="majortitle">{{ 'cart.general.title' | t }}</h1>
  </div> !-->
  <h1 class="text-pink font-title {% if cart.items == empty %} lg:mb-10 {% else %} lg:mb-16 {% endif %} mb-8 text-2xl text-center uppercase">Your Cart</h1>
  {% if cart.items == empty %}
    <div class="flex flex-col items-center">
      <p class="lg:mb-16 mb-8 text-base text-center">Your cart is currently empty</p>
      <a href="/collections/all" class="btn btn--pink w-auto mx-auto text-center">Return to the shop</a>
    </div>
  {% else %}
      <table class="cart-table w-full">
        <thead>
          <tr>
            <th class="border-opacity-10 font-body pb-4 text-lg text-left text-black border-b border-black">Item</th>
            <th width="180" class="border-opacity-10 font-body pb-4 text-lg text-left text-black border-b border-black">Item Price</th>
            <th width="160" class="border-opacity-10 font-body pb-4 text-lg text-left text-black border-b border-black">Quantity</th>
            <th width="130" class="border-opacity-10 font-body text-pink pb-4 pr-10 text-lg text-right border-b border-black">Total</th>
          </tr>
        </thead>
        <tbody>
        {% assign cart_item_products = '' %}
        {% for item in cart.items %}
          {% assign cart_item_products = cart_item_products | append: item.product.handle | append: ',' %}
          <tr data-line-id="{{ item.id }}" data-line="{{ forloop.index }}">
            <td class="lg:pt-6 lg:px-0 relative flex items-center px-8 py-0 border-0">
              <div class="bg-light flex items-center w-full h-16">
                <i class="fal fa-times hover:text-pink -left-8 cart__delete-item js-remove-item absolute transition duration-300 cursor-pointer"></i>
                <img src="{{ item | img_url: '128x128', crop: 'center' }}" class="d-none d-md-inline-block w-16 h-16" alt="{{ item.product.title }}">
                <div class="inline-flex flex-col ml-4">
                  <!--                       <h6 class="h6 d-inline-block mb-0">{{ item.title | escape }}</h6> -->
                  <a href="{{ item.url }}" class="cart__product-title font-body hide text-base font-bold text-black" data-cart-item-title data-role="product-title">
                    {{ item.product.title }}
                  </a>
                  <!-- {% unless line_item.properties == empty %}
                  {% for property in item.properties %}
                  <p class="p mb-0">{{ property.first }}: {{ property.last }}</p>
                  {% endfor %}
                  {% endunless %} -->
                </div>
              </div>
            </td>
            <td class="font-body lg:pt-6 lg:px-0 py-0 text-base border-0">
              <div class="bg-light flex items-center w-full h-16">{{ item.original_price | money }}</div>
            </td>
            <td class="quantity-cell lg:pt-6 lg:px-0 py-0 border-0">
              <div class="bg-light flex items-center w-full h-16">
                <i class="fal fa-minus hover:text-pink js-update-quantity transition duration-300 cursor-pointer" data-amount="-1"></i>
                <span class="js-quantity font-body mx-7 lg:mx-5 text-black">{{ item.quantity }}</span>
                <i class="fal fa-plus hover:text-pink js-update-quantity transition duration-300 cursor-pointer" data-amount="1"></i>
              </div>
            </td>
            <td class="text-pink font-body lg:pt-6 lg:px-0 py-0 font-bold text-right border-0">
              <div class="bg-light lg:pr-10 flex items-center justify-end w-full h-16">
                <span class="h6 text--purple js-line-total">
                  {{ item.line_price | money }}
                  {% for discount in item.discounts %}
                    {{ discount.title }}
                  {% endfor %}
                </span>
              </div>
            </td>
            <td class="lg:hidden block w-full pt-20 pb-5 text-center cursor-pointer">
                <a href="" class="js-remove-item font-body text-sm uppercase">Remove Item</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
        
      <div class="md:container">
          <div class="px-8 md:px-0">
            <div class="lg:pt-7 pt-3 pb-4 border-b border-black">
              <a href="/cart" class="font-body hover:text-pink flex items-center justify-end tracking-wider uppercase transition duration-300">
                <h5 class="h5 mb-0 mr-4 text-sm">Update Cart</h5>
                <i class="fal fa-redo" alt="Redo"></i>
              </a>
            </div>
            <p class="font-body lg:hidden mt-4 mb-0 text-xs text-right">Shipping and taxes calculated at checkout</p>
          </div>

          <div class="flex lg:flex-row flex-col justify-end mt-3">
            <div class="lg:w-1/2 w-full">
              <div class="md:border border-t border-b border-black md:mx-0 border-opacity-10 p-8 pb-11 lg:mr-16 mt-10 lg:mt-20">
                <h3 class="text-lg uppercase text-center">You Might Like...</h3>
                <div class="js-related-carousel">
                  {% assign related_product_count = 0 %}
                  {% for product in collections['upsell-products'].products %}
                    {% assign product = all_products[block.settings.upsell_product] %}
                    {% unless cart_item_products contains product.handle or related_product_count > 3 %}
                      {% assign related_product_count = related_product_count | plus: 1 %}
                      <div>
                        {% include 'product-card' with product %}
                      </div>
                    {% endunless %}
                  {%  endfor %}
                </div>
              </div>
            </div>
            <div class="lg:w-1/2 w-full lg:mt-0 mt-8">
              <form action="/cart" method="post" class="px-8 md:px-0" id="cartform">

                <p class="font-body hidden lg:block lg:mb-14 mb-12 text-xs text-right">Shipping and taxes calculated at checkout</p>

                <div class="border-pink flex justify-between pb-4 border-b">
                  <h4 class="text-pink font-body text-lg font-bold">Cart Total</h4>
                  <h6 class="text-pink js-total font-body font-bold">
                    {% if cart.original_total_price != cart.total_price %}
                      <span class="mr-2 font-normal text-[#000] line-through">{{ cart.original_total_price | money }}</span>
                    {% endif %}
                    {{ cart.total_price | money }}
                  </h6>
                </div>
                <a href="/collections/all" class="btn btn--pink-outline block w-full mt-12">Continue Shopping</a>
                <button class="btn btn--pink w-full mt-2.5" name="checkout"><span>Continue to Checkout</span></button>

                <div class="additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              </form>
            </div>
          </div>

      </div>
      <!--</div>-->

      {% if section.settings.show_shipping_calculator %}
        {% include 'shipping-calculator', default_country: section.settings.shipping_calculator_default_country %}
      {% endif %}
  {% endif %}
</div>

{% include 'subscription-cart-footer' %}

{% schema %}
  {
    "name": "Cart page",
    "settings": [
	  {
        "type": "checkbox",
        "id": "enable_cart_notes",
        "label": "Enable cart notes",
        "default": false
      },
      {
        "type": "page",
        "id": "cart_terms_page",
        "label": "Page for Terms and Conditions link"
      },
      {
        "type": "header",
        "content": "Shipping rates calculator"
      },
      {
        "type": "checkbox",
        "id": "show_shipping_calculator",
        "label": "Show",
        "default": false
      },
      {
        "type": "text",
        "id": "shipping_calculator_default_country",
        "label": "Default country selection",
        "default": "United States"
      },
      {
        "type": "paragraph",
        "content": "If your customer is logged-in, the country in his default shipping address will be selected. If you are not sure about the spelling to use here, refer to your first checkout page dropdown."
      }
	  ]
  }
{% endschema %}