<div data-section-type="footer" class="home-section border-opacity-10 border-t border-black content-area has-heading">
  {% if section.blocks != blank %}
    <div class="container section-footer__row-container">
      <div class="section-footer__row section-footer__row--blocks" data-num-blocks="{{ section.blocks.size }}">
        {% for block in section.blocks %}
          {% case block.type %}
          {% when '@app' %}
            <div class="section-footer__row__col">
              {% render block %}
            </div>

          {% when 'menu' %}
            <div class="section-footer__row__col section-footer__menu-block" role="navigation" aria-label="{{ 'layout.footer.navigation_aria_label' | t | escape }}" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                <div class="aaa section-footer__title heading-font h6-style{% if title_word_count < 4 %} no-wrap{% endif %}">
                  {{- block.settings.title | escape -}}
                </div>
              {% endif %}

              {% if block.settings.menu != blank %}
                <ul class="section-footer__menu-block__menu" {{ block.shopify_attributes }}>
                  {% for link in linklists[block.settings.menu].links %}
                    <li>
                      <a href="{{ link.url }}" {% if link.title.size < 25 %}class="no-wrap"{% endif %}>
                        {{- link.title -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if block.settings.show_social_icons != blank %}
                <div class="section-footer__newsletter-block__social">
                  {% capture icon_size %}{% if block.settings.soc_icons_large %}x46{% else %}x30{% endif %}{% endcapture %}
                  {% capture container_class %}{% if block.settings.soc_icons_large %}social-links--large{% else %}{% endif %}{% endcapture %}
                  {% render 'social-icons', icon_setting: settings.social_custom_icon_footer, icon_size: icon_size, container_class: container_class %}
                </div>
              {% endif %}

            </div>

          {% when 'text' %}
           {% if block.settings.title != blank %}
            <div class="section-footer__row__col section-footer__text-block {% if block.settings.text != blank %}section-footer__text-block--with-text{% endif %}" {{ block.shopify_attributes }}>

                {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                <div class=" section-footer__title heading-font h6-style{% if title_word_count < 4 %} no-wrap{% endif %}">
                  {{- block.settings.title | escape -}}
                </div>


              {% if block.settings.text != blank %}
                <div class="section-footer__text">
                  {{- block.settings.text -}}
                </div>
              {% endif %}

              {% if block.settings.image != blank %}
                <span class="section-footer__text-block__image">
                  {%- capture double_image_width -%}{{ block.settings.image_width | times: 2 }}x{%- endcapture -%}
                  <div class="rimage-outer-wrapper" style="width: {{ block.settings.image_width }}px">
                    <div class="rimage-wrapper lazyload--placeholder" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%">
                      <img class="rimage__image lazyload fade-in" data-src="{{ block.settings.image | img_url: double_image_width }}" alt="{{ shop.name | escape }}" />
                    </div>
                  </div>
                </span>
              {% endif %}

              {% if block.settings.show_social_icons != blank %}
                <div class="section-footer__text-block__social">
                  {% capture icon_size %}{% if block.settings.soc_icons_large %}x46{% else %}x30{% endif %}{% endcapture %}
                  {% capture container_class %}{% if block.settings.soc_icons_large %}social-links--large{% else %}{% endif %}{% endcapture %}
                  {% render 'social-icons', icon_setting: settings.social_custom_icon_footer, icon_size: icon_size, container_class: container_class %}
                </div>
              {% endif %}
            </div>
            {% endif %}
          {% when 'newsletter' %}
            <div class="section-footer__row__col section-footer__newsletter-block" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                <div class="footer-form__label ">
                  {{- block.settings.title | escape -}}
                </div>
              {% endif %}

              {% if block.settings.text != blank %}
                <div class="section-footer__text">
                  {{ block.settings.text }}
                </div>
              {% endif %}

              <div class="signup-form">
                <div class="footer-form">
                    <div class="footer-form__label">GET 10% OFF WITH OUR NEWSLETTER SIGN UP!</div>
                    <div class="klaviyo-form-Jg54ig"></div>
                </div>
              </div>
              <div class="footlogo" style=" max-width: 350px; margin: 0px auto; padding: 10px 5px 10px 10px;">
                  <div class="footlogos" style="display: inline-block; margin: 5px;">
                    <img src="https://cdn.shopify.com/s/files/1/0618/8873/files/Amazon_Footer_v2.svg" loading="lazy" width="88" height="46">
                  </div>

                  <div class="footlogos" style="display: inline-block; margin: 5px;">
                    <img src="https://cdn.shopify.com/s/files/1/0618/8873/files/Google_Footer_v2.svg" loading="lazy" width="88" height="48">
                  </div>

                  <div class="footlogos" style="display: inline-block; margin: 5px;">
                    <img src="https://cdn.shopify.com/s/files/1/0618/8873/files/Influenster_Footer_v2.svg" loading="lazy" width="104" height="45">
                  </div>
              </div>
<!--               {% if block.settings.show_social_icons != blank %}
                <div class="section-footer__newsletter-block__social">
                  {% capture icon_size %}{% if block.settings.soc_icons_large %}x46{% else %}x30{% endif %}{% endcapture %}
                  {% capture container_class %}{% if block.settings.soc_icons_large %}social-links--large{% else %}{% endif %}{% endcapture %}
                  {% render 'social-icons', icon_setting: settings.social_custom_icon_footer, icon_size: icon_size, container_class: container_class %}
                </div>
              {% endif %} -->
            </div>

          {% endcase %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {%- assign showing_localization = false -%}
  {%- if section.settings.show_language_selector and localization.available_languages.size > 1 -%}{%- assign showing_localization = true -%}{%- endif -%}
  {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}{%- assign showing_localization = true -%}{%- endif -%}
  <div class="container  section-footer__row-container {% if showing_localization %}section-footer__row-container--with-localization{% endif %}">
    <div class="section-footer__row section-footer__row-lower">
      <div class="section-footer__row__col">
        {% if section.settings.show_payment_icons %}
          <div class="section-footer__payment-icons">
            {% for type in shop.enabled_payment_types %}
              {{ type | payment_type_svg_tag: class: 'section-footer__payment-icon' }}
            {% endfor %}
            <span class="mx-1 ">
                <svg class ="section-footer__payment-icon" xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 38 24" aria-labelledby="pi-klarna-pay-now"><g fill="none" fill-rule="evenodd"><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#FFB3C7"/><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFB3C7"/><path d="M34.117 13.184c-.487 0-.882.4-.882.892 0 .493.395.893.882.893.488 0 .883-.4.883-.893a.888.888 0 0 0-.883-.892zm-2.903-.69c0-.676-.57-1.223-1.274-1.223-.704 0-1.274.547-1.274 1.222 0 .675.57 1.223 1.274 1.223.704 0 1.274-.548 1.274-1.223zm.005-2.376h1.406v4.75h-1.406v-.303a2.446 2.446 0 0 1-1.394.435c-1.369 0-2.478-1.122-2.478-2.507 0-1.384 1.11-2.506 2.478-2.506.517 0 .996.16 1.394.435v-.304zm-11.253.619v-.619h-1.44v4.75h1.443v-2.217c0-.749.802-1.15 1.359-1.15h.016v-1.382c-.57 0-1.096.247-1.378.618zm-3.586 1.756c0-.675-.57-1.222-1.274-1.222-.703 0-1.274.547-1.274 1.222 0 .675.57 1.223 1.274 1.223.704 0 1.274-.548 1.274-1.223zm.005-2.375h1.406v4.75h-1.406v-.303A2.446 2.446 0 0 1 14.99 15c-1.368 0-2.478-1.122-2.478-2.507 0-1.384 1.11-2.506 2.478-2.506.517 0 .997.16 1.394.435v-.304zm8.463-.128c-.561 0-1.093.177-1.448.663v-.535H22v4.75h1.417v-2.496c0-.722.479-1.076 1.055-1.076.618 0 .973.374.973 1.066v2.507h1.405v-3.021c0-1.106-.87-1.858-2.002-1.858zm-14.383 4.88h1.472V8h-1.472v6.868zM4 14.87h1.558V8H4v6.87zM9.45 8a5.497 5.497 0 0 1-1.593 3.9l2.154 2.97H8.086l-2.341-3.228.604-.458A3.96 3.96 0 0 0 7.926 8H9.45z" fill="#0A0B09" fill-rule="nonzero"/></g></svg>
            </span>
            <span class="mx-1  payment-methods-images__clearpay">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1619 551">
                    <g fill="none" fill-rule="evenodd">
                        <path fill="#BADECD" d="M1343.77 550.47H275.235C123.227 550.47 0 427.244 0 275.235 0 123.227 123.227 0 275.235 0H1343.77c152 0 275.23 123.227 275.23 275.235 0 152.009-123.23 275.235-275.23 275.235"/>
                        <path fill="#000" d="m1158.4 216.179-81.07 167.313h-33.64l30.29-62.522-47.62-104.791h34.5l30.6 70.174 33.42-70.174h33.52M755.743 383.492V216.18h29.229v15.444c8.792-10.93 21.861-17.584 37.544-17.584 32.079 0 57.266 26.377 57.266 61.308 0 34.929-25.662 61.544-57.978 61.544-14.971 0-27.327-5.94-35.883-15.92v62.52h-30.178Zm94.099-107.908c0-19.246-14.495-33.98-32.316-33.98-17.822 0-32.318 14.259-32.318 33.98 0 19.486 14.496 33.982 32.318 33.982 17.821 0 32.316-14.733 32.316-33.982ZM985.337 334.991v-15.446c-8.792 10.694-21.861 17.347-37.544 17.347-32.554 0-57.267-26.139-57.267-61.308 0-34.929 25.662-61.544 57.979-61.544 15.207 0 28.04 6.655 36.832 17.11v-14.97h29.233v118.811h-29.233Zm-.238-59.407c0-19.958-14.493-33.979-32.317-33.979-17.82 0-32.316 14.258-32.316 33.979 0 19.485 14.496 33.981 32.316 33.981 17.824 0 32.317-14.019 32.317-33.981ZM703.073 227.823s7.436-13.782 25.662-13.782c7.793 0 12.835 2.682 12.835 2.682v30.305s-10.997-6.792-21.094-5.422c-10.094 1.368-16.484 10.639-16.453 23.047v70.337h-30.176V216.179h29.226v11.644M1385.24 209.478l-34.56-19.831-35.06-20.111c-23.23-13.33-52.19 3.442-52.19 30.228v4.514c0 2.47 1.32 4.751 3.47 5.98l16.26 9.331c4.51 2.588 10.13-.669 10.13-5.87v-10.691c0-5.294 5.73-8.608 10.32-5.974l63.97 36.707c4.62 2.647 4.62 9.301 0 11.947l-63.97 36.708c-4.59 2.633-10.32-.681-10.32-5.975v-5.311c0-26.786-28.96-43.558-52.19-30.228l-69.61 39.942c-23.35 13.393-23.35 47.064 0 60.456l69.61 39.942c23.23 13.33 52.19-3.443 52.19-30.228v-4.525c0-2.47-1.32-4.751-3.46-5.981l-16.26-9.33c-4.51-2.589-10.14.668-10.14 5.87v10.702c0 5.293-5.72 8.608-10.31 5.973l-63.98-36.706c-4.61-2.646-4.61-9.301 0-11.948l63.98-36.707c4.59-2.634 10.31.68 10.31 5.974v5.311c0 26.786 28.96 43.559 52.19 30.228l35.06-20.111 34.56-19.83c23.34-13.393 23.34-47.063 0-60.456M338.053 290.718c-6.41 27.305-29.916 46.062-60.307 46.062-35.138 0-61.492-26.356-61.492-61.256 0-34.901 26.829-61.493 61.968-61.493 29.678 0 52.946 18.757 59.593 45.585h-30.864c-5.462-10.684-16.383-17.806-28.492-17.806-17.569 0-32.289 14.482-32.289 33.714 0 19.23 14.72 33.715 32.289 33.715 12.583 0 23.505-7.124 28.729-18.521h30.865M351.979 334.88h29.915V167.325h-29.915zM486.411 264.84c-2.138-15.432-14.721-24.692-29.441-24.692-14.72 0-26.829 9.022-29.915 24.692h59.356Zm-59.595 18.52c2.138 17.567 14.721 27.541 30.629 27.541 12.583 0 22.317-5.937 28.015-15.434h30.628c-7.123 25.167-29.677 41.313-59.356 41.313-35.851 0-61.018-25.168-61.018-61.019 0-35.85 26.592-61.73 61.731-61.73 35.376 0 61.018 26.117 61.018 61.73 0 2.612-.238 5.224-.713 7.599h-90.934ZM624.856 275.524c0-19.943-14.483-33.951-32.29-33.951-17.806 0-32.289 14.245-32.289 33.951 0 19.469 14.483 33.951 32.289 33.951 17.807 0 32.29-14.008 32.29-33.951Zm.237 59.356v-15.433c-8.785 10.683-21.843 17.333-37.512 17.333-32.528 0-57.22-26.117-57.22-61.256 0-34.901 25.642-61.493 57.932-61.493 15.195 0 28.015 6.648 36.8 17.095v-14.958h29.203V334.88h-29.203Z"/>
                    </g>
                </svg>
            </span>
            </div>
        {% endif %}

      </div>
      <div class="section-footer__row__col">
        {% if section.settings.show_language_selector or section.settings.show_country_selector %}
          <div class="section-footer__localization">
            {% render 'localization', input_prefix: 'footer' %}
          </div>
        {% endif %}

        <div class="copyright">
          <span class="copy">&copy; {{ "now" | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name }}</a></span>

          <!-- {{ powered_by_link }} -->


        </div>

    </div>
  </div>
  <div class ="copydis">
          <p>
           Plump It!® is the trading name of D&A Cosmetics Limited, a private company limited by shares and registered in England and Wales with company number 09179106 and having its registered office at 14 To 15 Harelands Courtyard Offices Moor Road, Melsonby, Richmond, North Yorkshire, DL10 5NY.
          </p>
      </div>
</div>


{% schema %}
  {
    "name": "Footer",
    "class": "section-footer",
    "max_blocks": 4,
    "settings": [
      {
        "type": "link_list",
        "id": "lower_menu",
        "label": "Lower footer menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "header",
        "content": "Social media links",
        "info": "These are shown inside text and newsletter blocks. Add to the footer and enable inside."
      },
      {
        "type": "header",
        "content": "Payment methods"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Country/Region Selector",
        "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "Enable country/region selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_language_selector",
        "label": "Enable language selector",
        "default": true
      },
          {
            "type": "text",
            "id": "bottomDes",
            "label": "Description",
            "default": "Newsletter"
          }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "menu",
        "name": "Links",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Quick links"
          },
              {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social media links",
            "default": true
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "info": "This menu won't show dropdown items",
            "default": "footer"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text and social media",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your store"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.<\/p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 30,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Footer image width",
            "default": 100
          },

          {
            "type": "checkbox",
            "id": "soc_icons_large",
            "label": "Use large social media icons",
            "default": false
          }
        ]
      },
      {
        "type": "newsletter",
        "limit": 1,
        "name": "Newsletter",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Sign up for exclusive offers, original stories, events and more.</p>"
          },
          {
            "type": "paragraph",
            "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "default": "primary",
            "options": [
              {
                "label": "Primary",
                "value": "primary"
              },
              {
                "label": "Secondary",
                "value": "secondary"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social media links",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "soc_icons_large",
            "label": "Use large social media icons",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}
