<div class="lg:py-20 lg:pb-24 bg-white lg:flex lg:h-[720px] relative">
    <img class="lg:block absolute top-0 left-0 hidden object-cover object-right w-full h-full" src="{{ section.settings.desktop_image | img_url: 'x720' }}" alt="{{ section.settings.title }}">
    <div class="lg:hidden pb-full relative">
        <img class="absolute top-0 left-0 object-cover w-full h-full" src="{{ section.settings.mobile_image | img_url: '1000x' }}" alt="{{ section.settings.title }}">
    </div>
    <div class="{{ section.settings.hero_background }} lg:block bg-opacity-{{ section.settings.hero_opacity }} absolute top-0 left-0 hidden w-1/2 h-full">

    </div>

    <div class="lg:bg-transparent container relative h-full bg-white">
        <div class="lg:w-1/2 lg:items-start lg:pt-0 lg:pb-0 flex flex-col items-center justify-end h-full pt-4 pb-6">
            <h1 class="lg:text-3xl lg:text-left lg:mb-10 mb-4 text-xl text-center {{ section.settings.heading_color }} uppercase">
                {{ section.settings.title }}
            </h1>
            <a href="{{ section.settings.button_link }}" class="btn {{ section.settings.button_color }} w-56">{{ section.settings.button_text }}</a>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Hero",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Plumper, Fuller, Softer Lips"
        },
        {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Shop Now"
        },
        {
            "id": "button_link",
            "type": "url",
            "label": "Button Link",
            "default": "/collections/all"
        },
        {
            "id": "desktop_image",
            "type": "image_picker",
            "label": "Desktop Image"
        },
        {
            "id": "mobile_image",
            "type": "image_picker",
            "label": "Mobile Image"
        },
        {
            "type": "select",
            "id": "hero_background",
            "label": "Hero Background",
            "options": [
              {
                "value": "bg-grey",
                "label": "Grey"
              },
              {
                "value": "bg-pink",
                "label": "Pink"
              },
              {
                "value": "bg-palepink",
                "label": "Pale Pink"
              },
              {
                "value": "bg-black",
                "label": "Black"
              },
              {
                "value": "",
                "label": "None"
              }
            ],
            "default": "bg-grey"
        },
        {
            "type": "range",
            "id": "hero_opacity",
            "min": 0,
            "max": 100,
            "step": 20,
            "label": "Opacity",
            "default": 80
        },
        {
            "type": "select",
            "id": "heading_color",
            "label": "Text Colour",
            "options": [
              {
                "value": "text-white",
                "label": "White"
              },
              {
                "value": "text-pink",
                "label": "Pink"
              },
              {
                "value": "text-palepink",
                "label": "Pale Pink"
              },
              {
                "value": "text-black",
                "label": "Black"
              }
            ],
            "default": "text-black"
        },
        {
            "type": "select",
            "id": "button_color",
            "label": "Button Colour",
            "options": [
              {
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn--white",
                "label": "White"
              },
              {
                "value": "btn--pink",
                "label": "Pink"
              },
              {
                "value": "btn--palepink",
                "label": "Pale Pink"
              },
              {
                "value": "btn--black",
                "label": "Black"
              }
            ],
            "default": "btn--black"
        }
    ],
    "presets": [
        {
            "name": "Front Page Hero",
            "category": "Advanced layout",
            "settings":
            {
                "title": "Plumper, Fuller, Softer Lips",
                "button_text": "Shop Now",
                "button_link": "/collections/all"
            }
        }
    ]
}
{% endschema %}