{{ 'section-hero-slider.css' | asset_url | stylesheet_tag }}

<div class="hero-slider-section">
  <div class="swiper lg:h-[720px]">
    <div class="swiper-wrapper">

      {%- for block in section.blocks -%}
        <div class="{{ block.settings.hero_background }} bg-opacity-{{ block.settings.hero_opacity }} lg:bg-transparent swiper-slide lg:flex">
          <picture class="swiper-slide-image" data-swiper-parallax="10%">
            <source media="(max-width: 1023px)" srcset="{{ block.settings.mobile_image | img_url: '1000x' }}" />
            <source media="(min-width: 1024px)" srcset="{{ block.settings.desktop_image | img_url: 'x720' }}" />
            <img class="swiper-lazy object-right" src="{{ block.settings.mobile_image | img_url: '1000x' }}" alt="{{ block.settings.title }}" loading="lazy" />
          </picture>

          <div class="swiper-lazy-preloader"></div>

          <div class="swiper-slide-content">
            <div class="swiper-slide-overlay {{ block.settings.hero_background }} bg-opacity-{{ block.settings.hero_opacity }}"></div>
            
            <div class="swiper-slider-inner lg:bg-transparent container">
              <div class="swiper-slider-inner-container lg:w-1/2 lg:pt-0 pt-4 pb-4 lg:pb-6">
                <div class="swiper-slide-title" data-swiper-parallax="-100">
                  <h1 class="lg:text-3xl lg:text-left lg:mb-10 mb-2 text-xl text-center {{ block.settings.heading_color }} uppercase">
                    {{ block.settings.title }}
                  </h1>
                </div>
                <div class="swiper-slide-text" data-swiper-parallax="-200">
                  <a href="{{ block.settings.button_link }}" class="btn {{ block.settings.button_color }}">{{ block.settings.button_text }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}

    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero Slider",
    "settings": [
      {
        "type": "range",
        "id": "speed",
        "min": 1,
        "max": 9,
        "step": 1,
        "unit": "s",
        "label": "Transition Speed",
        "default": 2
      }
    ],
    "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Slide Title"
        },
        {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Button Label"
        },
        {
            "id": "button_link",
            "type": "url",
            "label": "Button Link",
            "default": "/collections/all"
        },
        {
            "id": "desktop_image",
            "type": "image_picker",
            "label": "Desktop Image"
        },
        {
            "id": "mobile_image",
            "type": "image_picker",
            "label": "Mobile Image"
        },
        {
            "type": "select",
            "id": "hero_background",
            "label": "Hero Background",
            "options": [
              {
                "value": "bg-grey",
                "label": "Grey"
              },
              {
                "value": "bg-pink",
                "label": "Pink"
              },
              {
                "value": "bg-palepink",
                "label": "Pale Pink"
              },
              {
                "value": "bg-black",
                "label": "Black"
              },
              {
                "value": "",
                "label": "None"
              }
            ],
            "default": "bg-grey"
        },
        {
            "type": "range",
            "id": "hero_opacity",
            "min": 0,
            "max": 100,
            "step": 20,
            "label": "Opacity",
            "default": 80
        },
        {
            "type": "select",
            "id": "heading_color",
            "label": "Text Colour",
            "options": [
              {
                "value": "text-white",
                "label": "White"
              },
              {
                "value": "text-pink",
                "label": "Pink"
              },
              {
                "value": "text-palepink",
                "label": "Pale Pink"
              },
              {
                "value": "text-black",
                "label": "Black"
              }
            ],
            "default": "text-black"
        },
        {
            "type": "select",
            "id": "button_color",
            "label": "Button Colour",
            "options": [
              {
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn--white",
                "label": "White"
              },
              {
                "value": "btn--pink",
                "label": "Pink"
              },
              {
                "value": "btn--palepink",
                "label": "Pale Pink"
              },
              {
                "value": "btn--black",
                "label": "Black"
              }
            ],
            "default": "btn--black"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "hero-slider",
        "category": "Custom",
        "blocks": [
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  var swiperSpeed = {{ section.settings.speed }} * 1000;

  var swiper = new Swiper(".swiper", {
    observeParents: true,
    navigation: {
      hideOnClick: false,
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next"
    },
    pagination: {
      progressbarOpposite: true,
      hideOnClick: false,
      el: ".swiper-pagination",
    },
    threshold: 5,
    autoplay: { delay: swiperSpeed, enabled: true },
    loop: true,
    observer: true,
    keyboard: {
      enabled: true
    },
    grabCursor: true,
    lazy: {
      loadPrevNext: true,
      enabled: true,
      loadOnTransitionStart: false,
    },
    parallax: {
      enabled: true
    },
    speed: 800,
    watchSlidesProgress: true
  });
</script>