{{ 'section-promo-banner.css' | asset_url | stylesheet_tag }}

{% assign count = 0 %}
{% for block in section.blocks %}
  {% assign count = count | plus: 1 %}
{% endfor %}

{% if section.settings.show_banner %}
<div class="promo-swiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide {{ block.settings.color_scheme }}">
        <div class="container">
          <div class="swiper-slide-content">
            <a href="{{ block.settings.link }}" class="promo-banner-title">{{ block.settings.heading }}</a>
          </div>
        </div>
        </div>
      {% endfor %}
    </div>

    {% if count > 1 %}
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    {% endif %}
  </div>
{% endif %}

<script>
  var swiperSpeed = {{ section.settings.speed }};

  var swiper = new Swiper(".promo-swiper", {
    autoplay: {
      delay: swiperSpeed,
      disableOnInteraction: false
    },
    loop: true,
    navigation: {
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
  });
</script>

{% schema %}
  {
    "name": "Promo Banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_banner",
        "label": "Show promo banner",
        "default": true
      },
      {
        "type": "range",
        "id": "speed",
        "min": 0,
        "max": 9000,
        "step": 500,
        "unit": "ms",
        "label": "Transition Speed",
        "default": 2500
      }
    ],
    "blocks": [
      {
        "type": "banner",
        "name": "Banner",
        "settings": [
          {
            "type": "select",
            "id": "color_scheme",
            "label": "Background Colour",
            "options": [
              {
                "value": "bg-pink",
                "label": "Pink"
              },
              {
                "value": "bg-black",
                "label": "Black"
              }
            ],
            "default": "bg-black"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Add your banner message here",
            "label": "Banner Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Banner link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Promo Banner",
        "category": "Text",
        "blocks": [
          {
            "type": "banner"
          },
          {
            "type": "banner"
          },
          {
            "type": "banner"
          }
        ]
      }
    ]
  }
{% endschema %}